@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
     font-family: "Inter", sans-serif;
}
.main-container{
    margin: 0 ;
    background-image: url(icons/home1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
nav ul{
    display: flex;
    list-style: none;
}

nav{
    margin-left: 90px;
}
nav ul a{
    margin: 20px;
    transition: 0.5s;
    text-decoration: none;
    color: black;
}
nav ul a:hover{
  scale: 1.7;
  color: rgb(132, 152, 221);
  cursor: pointer;
}
.button-navbar button{
    z-index: 999;  
    background-color: rgba(17, 27, 71, 1);
    width: 100px;
    height: 30px;
    color: beige;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 7px 5px 5px rgb(98, 93, 93);
    transition: 0.5s;
}
.button-navbar button:hover{
    scale: 1.1;
    cursor: pointer;
    background-color: rgba(231, 236, 255, 1);
    color: black;
}
.about-us{
    display: flex;

}
.about-us-text{
    margin: 100px;
}
.text .first-h{
    padding-left: 50px;
    margin-bottom: 10px;
    font-weight:bolder;
    font-size: 2.8rem;
}
.text .home-first-h{
    padding-left: 50px;
    margin-bottom: 40px;
    font-weight:bolder;
    font-size: 2.8rem;
}

.text .second-h{
    font-size: 2.4rem;
    font-weight:bolder; 
}
.about-description{
    margin: 10px 0px;
    font-style: oblique;
    color: rgb(17, 19, 27);
    line-height: 29px;
}
.card{
    display: flex;
    margin-top: 50px; 
}
.cards .icons-title{
    margin: 10px 5px;
}
.cards .icons-description{
  width: 90%;
  margin-left: 10px;
  max-width:100%;
  font-style: oblique;
}
.card img{
    margin-right: 15px;
    width: 36px;
    height: 36px;
}
.cards{
    display: grid;
    grid-template-columns: 300px 300px;
}
.tabette-img {
    margin-right: 158px;
    margin-top: 10px;
    margin-left: 130px;
    margin-bottom: 119px;
    width: 492px;
    height: 629px;
}
.section-2{
    display: flex;
    align-items: center;
    background-color: rgba(247, 247, 247, 1);
    height: 400px;
}

.section-2 .text, .section-3 .text{
margin-left: 180px;
margin-top: 100px;
margin-bottom: 140px;
}
.section-2 .text h1 ,.section-3 .text h1 ,.section-4 .text h1{
margin-bottom: 20px;
font-size: 2.4rem;
}
.section-2 .text p {
    max-width: 60%;
    color: rgb(0, 0, 0);
    font-style: initial;
    line-height: 29px;
}
.section-2 .image{
width: 70%;
height: auto;
object-fit: cover;
margin-top: 30px;   
margin-right: 100px;
}
.section-3 .container{
    display: flex;
    height: 824px;
}
.section-3 .text{
margin: auto;
padding-left: 150px;
}

.section-3 .card{
    display: block;
    margin:60px;
}  
.section-3 .card .icons-description{
    max-width: 100%;   
} 
.section-3 .text .description {
    max-width: 90%;
    color: rgb(0, 0, 0);
    font-style: initial;
    line-height: 29px;
}
.cards-section3{
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 100px;   
}
.cards-section3 .card{
    width: 500px;
    margin: 40px;
}
.cards-section3 .icons-description{
    width: 60%;
    max-width:100%;
    font-style: oblique;
}
.section-3 .image img{
 width:420px;
 height: 100%;
}
.section-4 {
    background-color: rgba(247, 247, 247, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-4 .text{
    margin-top: 50px;
    margin-left: 200px;
}
.section-4 .text .description{
    width: 60%;
    color: rgb(0, 0, 0);
    font-style: initial;
    line-height: 29px;
    margin-bottom: 20px;
}
.section-4 .text .btn{
background-color: rgba(17, 27, 71, 1);
color: aliceblue;
width: 150px;
padding: 10px;
border-radius: 5px;
margin-bottom: 20px;
transition: 1s;
}
.section-4 .text .btn:hover{
    cursor: pointer;
    background-color:  rgba(25, 36, 84, 0.902);
}
.section-4 .image {
    margin: 20px 100px;
}
footer{
    height: 216px;
    background-color: rgba(231, 236, 255, 1);
    display: flex;
    flex-direction: column;
}
footer .text-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .text-btn button{
    background-color: rgba(17, 27, 71, 1);
    color: aliceblue;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    transition: 1s;
}
footer .text-btn p{
margin: 50px;

}
footer .text-btn button:hover{
    cursor: pointer;
    background-color:  rgba(25, 36, 84, 0.902);
}
.section-4 .hr{
    margin-top: 45px;
}
footer .navbar{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .social-media-icons ul{
    display: flex;

}
footer .social-media-icons ul li{
    margin: 20px;
    list-style-type: none;
}
/*Home page style*/
.home-section-1{
    display: flex;
}
.home-section-1  img {
height: 800px;
}
.home-section-1 .text{
    margin: 163px;
}
.home-section-1 .text .title{
    margin-bottom: 10px;
    font-weight:bolder;
    font-size: 2.5rem;
    width: 40%;
}
.home-section-1 .text p{
    max-width: 50%;
    margin: 20px 0px;
    color: rgb(0, 0, 0);
    line-height: 29px;
}
.home-section-1 .text .buttons .btn1{
    background-color: rgba(17, 27, 71, 1);
color: aliceblue;
width: 150px;
padding: 10px;
border-radius: 5px;
margin-bottom: 20px;
transition: 1s;
}

.home-section-1 .text .buttons .btn2{
    background-color: rgb(255, 255, 255);
    color: rgba(17, 27, 71, 1);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 1s;
    margin-left: 20px;
}
.home-section-1 .text .buttons .btn2:hover{
    background-color: #ffffff79;
    color: rgb(8, 8, 8);
    cursor: pointer;
    font-size: 15px;
}
.home-section-1 .text .buttons .btn1:hover{

    cursor: pointer;
    font-size: 15px;
}
.home-pricing{
    background-image: url(icons/bg-curve.png);   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-container{
    text-align: center;
    margin-top: 100px;
}
.home-desc p{
    margin: auto;
    width: 40%;
    align-self: flex-start;
    font-style: oblique;
    color: rgb(17, 19, 27);
    line-height: 29px;
}
.title-princing {
    padding-left: 50px;
    margin-bottom: 10px;
    font-weight:bolder;
    font-size: 2.5rem;
}
.price-tag .p1{
    color: rgba(34, 47, 101, 1);
    padding-left: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight:bolder;
    font-size: 2.5rem;
}
.price-tag .p2{
    color: rgba(34, 47, 101, 1);
    padding-left: 45px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.extra-info p{
    color: rgb(0, 0, 0);
    padding-left: 45px;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 30px;
}
.button-price button{
    background-color: rgba(17, 27, 71, 1);
    color: aliceblue;
    margin-top: 55px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;    
    transition: 1s;
    margin-left: 87px;
}
.button-price button:hover{
    cursor: pointer;
    background-color:  rgba(25, 36, 84, 0.902);
    font-size: 15px;
}
/*Contact style start from here*/
.contact-title{
    padding-left: 50px;
    margin-bottom: 10px;
    font-weight:bolder;
    font-size: 1.5rem;
   
}
.contact-title h1{
    margin: 30px;
    text-align: center;
}
.contact-container{
    display: flex;
    width: 80%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.176) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}
.contact-container .sidebar{
    width: 40%;
    background-color: rgba(242, 245, 255, 1);
    border-radius: 10px;
}
 .sidebar-title{

    padding-left: 40px;
    padding-top: 50px;
    font-weight:bolder;
    font-size: 2.2rem;
}
.sidebar-subtitle{
    padding-left: 50px;
    margin: 15px;
    font-weight:normal;
    font-size: 1.1rem;
}
.personal-info{
    margin-top: 100px;
}
.personal-info .email ,.personal-info .phone,.personal-info .localisation{
display: flex;
margin-left: 40px;
}
.personal-info .email,.personal-info .phone, .personal-info .localisation{
    margin-bottom: 30px;
    padding-bottom: 50px;
}
.personal-info p{
    margin-left: 5px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.contact-form label{
    color: rgb(132, 122, 122);
    font-style: initial;
    line-height: 20px;
}
.contact-form input{
  border: none;
  border-bottom: 2px solid rgb(183, 171, 171);
  height: 30px;
}
.contact-form input:focus{
  outline: none;
}

.first-name,.last-name{
    margin-bottom: 50px;
    margin-right: 60px;
}
.email, .phone{
    margin-bottom: 50px;
    margin-right: 60px;
    margin-top: 40px;
}
.contact-area{
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(183, 171, 171);
    margin-top: 10px;
}
.contact-btn button{
    margin-top: 40px;
    margin-left: 330px;
    background-color: rgb(0, 0, 0);
    width: 120px;
    height: 50px;
    color: beige;
    border-radius: 10px;
    box-shadow: 7px 5px 5px rgb(146, 140, 140);
    transition: 0.5s;
    font-size: 13px;
}
.contact-btn button:hover{
    cursor: pointer;
    background-color:  rgba(10, 11, 11, 0.902);
    font-size: 14px;
}
/*Product style start from here*/
.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
}
.product-card{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 20px;
    margin-right: 50px;
    flex-wrap: wrap;
}

.product-card img{
    width: 100%;
}
.ptoduit-title{
    font-weight: bolder;
    font-size: larger;
    color: rgb(44, 43, 43);
    margin: 10px;
    align-self: center;
}
.product-description{
    margin: 10px;
}
.card-group1,.card-group2{
    display: flex;
    margin-bottom: 40px;
}
.product-btn{
    background-color: rgba(17, 27, 71, 1);
    color: aliceblue;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 1s;
    align-self: center;
}

/*-------------*/
.fa-cart-plus{
    background:#0652DD;
  }
  
  .addtocart{
    display:block;
    padding:5px;
    border-radius:100px;
    border:none;
    font-size:10px;
    position:relative;
    background:#0652DD;
    cursor:pointer;
    height:40px;
    width:150px;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
    align-self: center;
  }
  .addtocart:hover{
    transform:scale(1.1);
  }
  .pretext{
    color:#fff;
    background:#0652DD;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  i{
    margin-right:10px;
  }
  /*Dark mode classes start from here*/
  .dark-mode {
    background-color: #282626;
    color: white;
  }
  .dark-header{
    color: #fff;
    background-color: #282626; 
 }
  .footer-dark{
    background-color: #282626;
    color: #fff;
  }
  .white-text{
    color: white !important;
  }
  .sidebar-contact{
    background-color: #000;
  }